nav button {
  border:none !important;
}

nav button:hover {
  border:none !important;
  box-shadow:0px 0px 0px black !important;
}
.dropdown-menu {
  background-color:#2c2f33 !important;
}
.dropdown-item {
  color:white !important;
}