<!DOCTYPE html>
<head>
    <!--  Get a font from google font  -->
    <link href="https://fonts.googleapis.com/css2?family=Chilanka&display=swap" rel="stylesheet">
  
      <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@1,500&display=swap" rel="stylesheet">
    <link rel='icon' href="<%= client.user.displayAvatarURL() %>">
    <script data-ad-client="ca-pub-5902686510993379" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  
  <title>Partners | list-discordbot </title>
  
  <!--  Property  -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#FFFFFF">
  <meta property="og:title" content="list-discordbot">
  <meta property="og:description" content="A website where you can add your bot to this list bot discord">
  <meta property="og:image" content="<%= client.user.displayAvatarURL() %>">
</head>

<body>
<!--  Navbar bagian  -->

  <nav class="navbar navbar-expand-lg navbar-light fixed-top" style='background:#7289DA;'>
  <a class="navbar-brand" href="#">
     <img src="https://cdn.glitch.com/fafda016-78f3-4788-ba74-9281fad6bc3f%2FDiscord-Logo-Black.png?v=1600967585590" width="30" height="30" alt="" loading="lazy">
    </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      <a class="nav-link" href="/add">Add</a>
      <a class='nav-link' href='/discord'>Discord</a>
      <a class='nav-link active' href='/partners'>Our partners</a>
      <a class="nav-link" href="<%= user ? "/me" : "/login" %>"><%= user ? user.username+"#"+user.discriminator : "Login" %></a>
    </div>
  </div>
  </nav>
  <br><br>
    <div class='jumbotron shadow p-3 mb-5 rounded' style='background:#7289d9;'>
    <br>
    <h2 class='judul'>List DiscordBot Partners</h2>
      <h4>website partners</h4>
    </div>
  
  <div class='container'>
    
  <div class='server'><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-globe" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm7.5-6.923c-.67.204-1.335.82-1.887 1.855A7.97 7.97 0 0 0 5.145 4H7.5V1.077zM4.09 4H2.255a7.025 7.025 0 0 1 3.072-2.472 6.7 6.7 0 0 0-.597.933c-.247.464-.462.98-.64 1.539zm-.582 3.5h-2.49c.062-.89.291-1.733.656-2.5H3.82a13.652 13.652 0 0 0-.312 2.5zM4.847 5H7.5v2.5H4.51A12.5 12.5 0 0 1 4.846 5zM8.5 5v2.5h2.99a12.495 12.495 0 0 0-.337-2.5H8.5zM4.51 8.5H7.5V11H4.847a12.5 12.5 0 0 1-.338-2.5zm3.99 0V11h2.653c.187-.765.306-1.608.338-2.5H8.5zM5.145 12H7.5v2.923c-.67-.204-1.335-.82-1.887-1.855A7.97 7.97 0 0 1 5.145 12zm.182 2.472a6.696 6.696 0 0 1-.597-.933A9.268 9.268 0 0 1 4.09 12H2.255a7.024 7.024 0 0 0 3.072 2.472zM3.82 11H1.674a6.958 6.958 0 0 1-.656-2.5h2.49c.03.877.138 1.718.312 2.5zm6.853 3.472A7.024 7.024 0 0 0 13.745 12H11.91a9.27 9.27 0 0 1-.64 1.539 6.688 6.688 0 0 1-.597.933zM8.5 12h2.355a7.967 7.967 0 0 1-.468 1.068c-.552 1.035-1.218 1.65-1.887 1.855V12zm3.68-1h2.146c.365-.767.594-1.61.656-2.5h-2.49a13.65 13.65 0 0 1-.312 2.5zm2.802-3.5h-2.49A13.65 13.65 0 0 0 12.18 5h2.146c.365.767.594 1.61.656 2.5zM11.27 2.461c.247.464.462.98.64 1.539h1.835a7.024 7.024 0 0 0-3.072-2.472c.218.284.418.598.597.933zM10.855 4H8.5V1.077c.67.204 1.335.82 1.887 1.855.173.324.33.682.468 1.068z"/>
  </svg> Website</div>

    
    <h2>SOON</h2>
<!--    <div class="row">
    <div class="col-sm-6 md-5">
      <center>
      <div class='boxnya card shadow p-3 mb-5 rounded'>
        <div class="card-image">
          <img src='' class='test circle responsive-img' width='100'>
          
           <br><h3><span class="card-title" style='color:white;'><b><a></a></b></span></h3>
          
          <hr>
        <div class='asww'>
        <span class="badge badge-primary"><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
        </svg> Partnered</span>
        
        <hr>
        
        </div>

        </div>
        <div class="card-content white-text">
          <span class="card-title"></span>
          <h6 style="color:white;">a</h6>
        </div>
            
        <div class='card-action'>
          <a class="btn btn-primary" href="" role="button">Visit</a>
          <a class="btn btn-primary" href="" role="button">Join</a>
        </div>
        
        <br>
      </div>
    </div>
 
     `).join(' ')%>
  </div>
     -->
</div>
  
</body>
</html>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>


<style>
  h2{
    text-align:center;
    color:white;
  }
  
   body{
    background:url("https://cdn.glitch.com/fafda016-78f3-4788-ba74-9281fad6bc3f%2Fimages.jpeg?v=1596425116755");
  }
  
  .server{
    text-align:center;
    font-size:50px;
    color:white;
  }
  
   .bar{
    color:white !important;
  }
  
    .boxnya{
    width:auto;
    margin:10px;
    background:transparent;
    border:1px solid white;
    box-shadow:1px 5px 10px black !important;
    transition:1s;
  }
  
  .boxnya:hover{
    width:auto;
    margin:10px;
    background:transparent;
    border:1px solid white;
    box-shadow:2px 2px 5px white !important;
    transition:1s;
  }
  
  .cardi{
    background-color:black !important;
  }
  
  h4{
    text-align:center;
  }
</style>